@import "~@fortawesome/fontawesome-free/css/all.min.css";
* {
  background-color: rgb(249, 248, 248);
}
.item-div {
  display: grid;
  gap: 50px;
  margin-top: 50px;
  margin-left: 4%;
  margin-right: 4%;
  max-width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 100px;
  place-items: center;
}
.browse-container {
  margin-left: 60px;
  width: 250px;
  margin-top: 30px;
}
.browse-hr {
  height: 2px;
  background-color: black;
  border: 0;
}
.browse-title {
  font-size: 25px;
}
@media screen and (max-width: 1240px) {
  .item-div {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 935px) {
  .item-div {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 668px) {
  .item-div {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 470px) {
  .item-div {
    place-items: center;
  }
}
@media screen and (max-width: 300px) {
  .browse-container {
    width: 150px;
  }
  .browse-title {
    font-size: 20px;
  }
}
