* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  display: flex;
  justify-content: center;
}
.nav {
  width: 95vw;
  height: 90px;
  background-color: white;
  margin-top: 20px;
  border-radius: 25px;
  border: 0.5px solid rgb(231, 231, 231);
  box-shadow: 2px 2px 10px rgb(239, 239, 239);
  display: flex;
  justify-content: center;
  align-items: center;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.logo-main {
  margin-right: 900px;
}
.search-button,
.home-button,
.company-button,
.profile-icon {
  margin-left: 70px;
  background-color: white;
}
a {
  transition-duration: 1s;
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
}
a:hover {
  transition-duration: 1s;
  color: #45b6fe;
  cursor: pointer;
}
.logo-main {
  color: #ff6b6b;
  background-color: white;
  font-weight: 900;
}
.navSearchInput {
  border: 0;
  border-bottom: 2px solid #afafaf;
  height: 40px;
  background-color: white;
}
.navSearchInputButtonIcon {
  background-color: white;
  border: 0;
  border-bottom: 2px solid #afafaf;
  height: 40px;
}
.navSearchIcon {
  font-size: 15px;
  background-color: white;
}
.navUserIcon {
  font-size: 25px;
  background-color: white;
}
@media screen and (max-width: 1320px) {
  .logo-main {
    margin-right: 700px;
  }
}
@media screen and (max-width: 1130px) {
  .logo-main {
    margin-right: 500px;
  }
}
@media screen and (max-width: 920px) {
  .logo-main {
    margin-right: 400px;
  }
}
@media screen and (max-width: 850px) {
  .logo-main {
    margin-right: 300px;
  }
}
@media screen and (max-width: 710px) {
  .profile-icon {
    margin-left: 50px;
  }
}
@media screen and (max-width: 680px) {
  .logo-main {
    margin-right: 200px;
  }
}
@media screen and (max-width: 585px) {
  .logo-main {
    margin-right: 100px;
  }
}
@media screen and (max-width: 450px) {
  .logo-main {
    margin-right: 50px;
  }
}
@media screen and (max-width: 400px) {
  .logo-main {
    margin-right: 30px;
  }
  .profile-icon {
    margin-left: 20px;
  }
}
@media screen and (max-width: 300px) {
  .logo-main {
    margin-right: 20px;
  }
  .profile-icon {
    margin-left: 10px;
  }
  .navSearchInput {
    width: 80px;
  }
}
